#root {
	min-width: 450px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0;
}

.header {
	display: flex;
	align-items: center;
	gap: 1em;
}

.header .logo {
	height: 2.5em;
	padding-top: 0.25em;
	will-change: filter;
	transition: filter 300ms;
}
.header .logo:hover {
	filter: drop-shadow(0 0 2em #f2bae4aa);
}

.header .name {
	font-size: 2em;
	font-weight: 500;
}

.version {
	font-size: 1.25em;
}
